USE [master]
GO
/****** Object:  Database [MyHome]    Script Date: 25/10/2015 8:51:24 PM ******/
CREATE DATABASE [MyHome]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyHome', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MyHome.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyHome_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MyHome_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyHome].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyHome]
GO
/****** Object:  Table [dbo].[t_expenses]    Script Date: 25/10/2015 8:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_expenses](
	[ID] [int] NOT NULL,
	[AMOUNT] [float] NOT NULL,
	[EXP_DATE] [datetime] NULL,
	[CATEGORY] [int] NOT NULL,
	[METHOD] [int] NOT NULL,
	[Comments] [varchar](200) NULL,
 CONSTRAINT [primary key] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_expenses_category]    Script Date: 25/10/2015 8:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_expenses_category](
	[ID] [int] NOT NULL,
	[NAME] [varchar](45) NOT NULL,
 CONSTRAINT [primary key1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_incomes]    Script Date: 25/10/2015 8:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_incomes](
	[ID] [int] NOT NULL,
	[AMOUNT] [float] NOT NULL,
	[INC_DATE] [datetime] NULL,
	[CATEGORY] [int] NOT NULL,
	[METHOD] [int] NOT NULL,
	[Comments] [varchar](200) NULL,
 CONSTRAINT [primary key4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_incomes_category]    Script Date: 25/10/2015 8:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_incomes_category](
	[ID] [int] NOT NULL,
	[NAME] [varchar](45) NOT NULL,
 CONSTRAINT [primary key2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[t_payment_methods]    Script Date: 25/10/2015 8:51:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_payment_methods](
	[ID] [int] NOT NULL,
	[NAME] [varchar](45) NOT NULL,
 CONSTRAINT [primary key3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[t_expenses] ADD  DEFAULT ('""') FOR [Comments]
GO
ALTER TABLE [dbo].[t_expenses_category] ADD  DEFAULT ('') FOR [NAME]
GO
ALTER TABLE [dbo].[t_incomes] ADD  DEFAULT ('""') FOR [Comments]
GO
ALTER TABLE [dbo].[t_incomes_category] ADD  DEFAULT ('') FOR [NAME]
GO
ALTER TABLE [dbo].[t_payment_methods] ADD  DEFAULT ('') FOR [NAME]
GO
ALTER TABLE [dbo].[t_expenses]  WITH CHECK ADD  CONSTRAINT [FK_t_expenses_t_expenses_category] FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[t_expenses_category] ([ID])
GO
ALTER TABLE [dbo].[t_expenses] CHECK CONSTRAINT [FK_t_expenses_t_expenses_category]
GO
ALTER TABLE [dbo].[t_expenses]  WITH CHECK ADD  CONSTRAINT [FK_t_expenses_t_payment_methods] FOREIGN KEY([METHOD])
REFERENCES [dbo].[t_payment_methods] ([ID])
GO
ALTER TABLE [dbo].[t_expenses] CHECK CONSTRAINT [FK_t_expenses_t_payment_methods]
GO
ALTER TABLE [dbo].[t_incomes]  WITH CHECK ADD  CONSTRAINT [FK_t_incomes_t_incomes_category] FOREIGN KEY([CATEGORY])
REFERENCES [dbo].[t_incomes_category] ([ID])
GO
ALTER TABLE [dbo].[t_incomes] CHECK CONSTRAINT [FK_t_incomes_t_incomes_category]
GO
ALTER TABLE [dbo].[t_incomes]  WITH CHECK ADD  CONSTRAINT [FK_t_incomes_t_payment_methods] FOREIGN KEY([METHOD])
REFERENCES [dbo].[t_payment_methods] ([ID])
GO
ALTER TABLE [dbo].[t_incomes] CHECK CONSTRAINT [FK_t_incomes_t_payment_methods]
GO
USE [master]
GO
