<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrameWork.Properties.Settings.myhome2013ConnectionString"
            connectionString="server=127.0.0.10;User Id=root;password=7BAC61zuber;Persist Security Info=True;database=myhome2013"
            providerName="MySql.Data.MySqlClient" />
        <add name="Old_FrameWork.Properties.Settings.myhome2013ConnectionString"
            connectionString="server=127.0.0.10;User Id=root;password=7BAC61zuber;Persist Security Info=True;database=myhome2013"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>